nav{
    background-color: blue;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
nav ul li{
    display: inline-block;
    position: relative;
    margin: 0%;
    padding: 2%;
    
}
span .presentation1{
    margin-left: 10px;
   
}